include database_factory/*.py
include database_factory/.version
include database_factory/LICENSE
include database_factory/common/*.py
include database_factory/cloud/*.py
include database_factory/cloud/gcp/*.py
include database_factory/cloud/aws/*.py
